.friends_section .friends_section-header {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 15px;
  font-size: 12px;
  color: #b4b4b4;
}

.frineds_section-rows .friends_section-row {
  padding: 10px 0;
}
